.myListItems {
  width: 100%;
  background-color: #3ca;
  margin: 5px; }

.nav-sidebar {
  color: #009688;
  min-height: 100%;
  width: 100%;
  padding: 20px 0;
  border-right: 1px solid #ddd; }

.nav-sidebar a {
  color: #009688;
  -webkit-transition: all 0.08s linear;
  -moz-transition: all 0.08s linear;
  -o-transition: all 0.08s linear;
  transition: all 0.08s linear; }

.nav-sidebar .active a {
  cursor: default;
  background-color: #3ca !important;
  color: white; }

.nav-sidebar .others a:hover, .nav-sidebar .active a:hover {
  background-color: #009688 !important;
  color: white; }

.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.chatList {
  font-size: 1.2em;
  margin: 0 auto;
  padding: 20px;
  margin-left: 20px;
  color: #009688; }
  .chatList .usersList {
    padding-left: 10px;
    height: 300px;
    overflow-y: scroll; }

.badge-default {
  background-color: green; }

.badge-grey {
  background-color: grey; }

.tab-content {
  margin-bottom: 50px;
  padding: 10px; }

.tab-pane {
  padding: 10px;
  margin: 0 auto; }
  .tab-pane h1, .tab-pane h2, .tab-pane h3, .tab-pane h4, .tab-pane h5, .tab-pane h6 {
    color: #009688; }
  .tab-pane p {
    color: black; }
  .tab-pane #group-messages {
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px; }

small {
  font-size: 0.8em;
  color: #777; }

input {
  color: black; }

form {
  border-radius: 5px;
  padding: 20px;
  background-color: #eee; }
  form a {
    color: #009688; }
  form a:hover {
    text-decoration: none;
    font-weight: bold; }
  form h4 {
    color: white; }
  form .form-control {
    color: #009688 !important; }

.container .text-style {
  text-align: justify;
  line-height: 23px;
  margin: 0 13px 0 0;
  font-size: 19px; }

.input-append .btn.dropdown-toggle {
  float: none; }

#group-messages {
  padding-right: 10px !important; }

.each-message {
  background-color: #eee !important;
  border: 1px solid #eee;
  border-radius: 10px !important;
  margin: 2px; }
