body {
  width: 100%;
  background-color: white; }
  body footer {
    font-family: 'Pacifico','Merienda';
    position: fixed-bottom;
    background-color: #009688;
    color: white;
    padding: 5px; }
  body #main {
    height: 100%;
    background-color: white; }
    body #main .navbar-default {
      background-color: #009688 !important;
      font-family: 'Merienda'; }
      body #main .navbar-default .navbar-brand {
        font-size: 2em;
        font-weight: bold;
        color: white; }
    body #main .navbar-right {
      margin-right: 20px; }
    body #main button:hover {
      background-color: #ddd; }
    body #main #welcome-body {
      margin: 0 auto;
      width: 100%;
      color: #009688;
      text-align: center; }
      body #main #welcome-body #welcome-message {
        padding: 50px 0px 0px 0px;
        width: 100%;
        margin: 0 auto; }
        body #main #welcome-body #welcome-message h2 {
          font-family: 'Pacifico','Merienda';
          font-size: 3em; }
        body #main #welcome-body #welcome-message #canDo {
          width: 100%;
          margin: 0 auto; }
          body #main #welcome-body #welcome-message #canDo #setWidth {
            background-color: white;
            margin: 0 auto;
            width: 250px; }
          body #main #welcome-body #welcome-message #canDo .canDoEach {
            width: 230px;
            margin: 0 auto;
            font-family: 'Merienda'; }
          body #main #welcome-body #welcome-message #canDo .canDoIcon {
            margin: 0 auto;
            padding: 0px;
            width: 200px;
            height: 170px;
            color: #009688;
            border: 2px dotted white;
            border-radius: 100%;
            margin: 0 auto;
            font-size: 9em; }
            body #main #welcome-body #welcome-message #canDo .canDoIcon i {
              margin: 0px; }
          body #main #welcome-body #welcome-message #canDo .canDoText {
            font-size: 1em; }
      body #main #welcome-body .join-options {
        padding: 10px 0px 50px 0px;
        margin: 0px; }
        body #main #welcome-body .join-options #toStart {
          margin-top: 20px;
          font-size: 1.5em; }
    body #main .darkBtn {
      color: #009688;
      font-weight: bold; }
    body #main .loginOrSignup {
      padding: 60px 0px 30px 0px;
      color: #009688; }
      body #main .loginOrSignup input {
        color: black; }
      body #main .loginOrSignup #resetSuccess {
        color: #009688;
        font-weight: bold;
        border-radius: 5px;
        padding-top: 10px; }
      body #main .loginOrSignup h3 {
        font-family: 'Pacifico'; }
      body #main .loginOrSignup label {
        color: #3ca; }
      body #main .loginOrSignup a {
        color: #37d; }
      body #main .loginOrSignup a:hover {
        text-decoration: none;
        font-weight: bold; }
  body .sidebar {
    background-color: white;
    color: #009688; }
    body .sidebar .mini-submenu {
      display: none;
      background-color: transparent;
      border: 1px solid rgba(0, 0, 0, 0.9);
      border-radius: 4px;
      padding: 9px;
      /*position: relative;*/
      width: 42px; }
    body .sidebar button:hover {
      background-color: #ddd; }
