.myListItems {
  background-color: #066; }

.nav-sidebar {
  min-height: 100%;
  width: 100%;
  padding: 30px 0;
  border-right: 1px solid #ddd; }

.nav-sidebar a {
  color: #ccc;
  -webkit-transition: all 0.08s linear;
  -moz-transition: all 0.08s linear;
  -o-transition: all 0.08s linear;
  transition: all 0.08s linear; }

.nav-sidebar .active a {
  cursor: default;
  background-color: #066 !important;
  color: white; }

.nav-sidebar .others a:hover, .nav-sidebar .active a:hover {
  background-color: brown !important;
  color: white; }

.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.chatList {
  font-size: 1.5em;
  margin: 0 auto;
  padding: 20px;
  margin-left: 20px;
  color: white; }

.badge-default {
  background-color: green; }

.badge-grey {
  background-color: grey; }

.tab-content {
  margin-bottom: 50px;
  padding: 0; }

.tab-pane {
  padding: 10px;
  margin: 0 auto; }
  .tab-pane h1, .tab-pane h2, .tab-pane h3, .tab-pane h4, .tab-pane h5, .tab-pane h6 {
    color: white; }
  .tab-pane p {
    color: #ddd; }
  .tab-pane #group-messages {
    height: 250px;
    overflow-y: scroll;
    padding: 0px; }
  .tab-pane #addUser {
    border: 1px solid white !important; }
    .tab-pane #addUser input {
      color: white; }
  .tab-pane .myListItems {
    width: 100%;
    background-color: #066;
    margin: 5px; }
  .tab-pane small {
    color: #999; }

input {
  color: #066; }

form {
  background-color: #066;
  border-radius: 5px;
  border: 3px dotted teal;
  padding: 20px; }
  form a, form a:hover {
    color: gold; }
  form h4 {
    color: white; }
  form .form-control {
    color: white !important; }
  form .dropdown-toggle {
    color: white;
    background-color: #066;
    border: 1px solid white; }

.container .text-style {
  text-align: justify;
  line-height: 23px;
  margin: 0 13px 0 0;
  font-size: 19px; }

.input-append .btn.dropdown-toggle {
  float: none; }

family {
  padding-bottom: 50px; }
