$main-background-color: white;
$secondary-color: #3ca;
$main-color: #009688;
$link-color: #37d;
$input-color: black;
$button-hover-color: #ddd;

body {
  width: 100%;
  background-color: $main-background-color;

  footer {
    font-family: 'Pacifico','Merienda';
    position: fixed-bottom;
    background-color: $main-color;
    color: white;
    padding: 5px;
  }
  
  #main {
    height: 100%;
    background-color: $main-background-color;  
  
    .navbar-default {
      background-color: $main-color !important;
      font-family: 'Merienda';
      .navbar-brand {
        font-size: 2em;
        font-weight: bold;
        color: white;
      } 
    }
    
    .navbar-right {
      margin-right: 20px;
    }

    button:hover {
      background-color: #ddd;
    }

    #welcome-body {
      margin: 0 auto;
      width: 100%;
      color: $main-color;
      text-align: center;
      
      #welcome-message {
        padding: 50px 0px 0px 0px;
        width: 100%;
        margin: 0 auto;
        h2 {
          font-family: 'Pacifico','Merienda';
          font-size: 3em;
        }
        #canDo {
          width: 100%;
          margin: 0 auto;
          #setWidth {
            background-color: white;
            margin: 0 auto;
            width: 250px;
          }
          .canDoEach {
            width: 230px;
            margin: 0 auto;
            font-family: 'Merienda';
          }
          .canDoIcon {
            margin: 0 auto;
            padding: 0px;
            width: 200px;
            height: 170px;
            color: $main-color;
            border: 2px dotted $main-background-color;
            border-radius: 100%;
            margin: 0 auto;
            font-size: 9em;
            i {
              margin: 0px;
            }
          }
          .canDoText {
            font-size: 1em;
          } 
        }
      } 
      
      .join-options {
        padding: 10px 0px 50px 0px;
        margin: 0px;
        #toStart {
          margin-top: 20px;
          font-size: 1.5em;
        }
      } 
    }

    .darkBtn {
      color: $main-color;
      font-weight: bold;
    } 

    .loginOrSignup {
      padding: 60px 0px 30px 0px;
      color: $main-color;
      input {
        color: $input-color;
      }
      #resetSuccess {
        color: $main-color;
        font-weight: bold;
        border-radius: 5px;
        padding-top: 10px;
      }
      h3 {
        font-family: 'Pacifico';
      }
      label {
        color: $secondary-color;
      }
      a {
        color: $link-color;
      }
      a:hover {
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
  .sidebar {
    background-color: $main-background-color;
    color: $main-color;
    .mini-submenu{
      display:none;  
      background-color: rgba(0, 0, 0, 0);  
      border: 1px solid rgba(0, 0, 0, 0.9);
      border-radius: 4px;
      padding: 9px;  
      /*position: relative;*/
      width: 42px;

    }

    button:hover{
      background-color: $button-hover-color;
    }
  
  }
}
