$main-color: teal;
$secondary-color: #066;
$header-color: brown;

body {
  width: 100%;
  background-color: $main-color;

  footer {
    font-family: 'Pacifico','Merienda';
    position: fixed-bottom;
    background-color: brown;
    color: white;
    padding: 5px;
  }
  
  #main {
    padding: 0;
    height: 100%;
    background-color: $main-color;  
  
    .navbar-default {
      background-color: brown;
      font-family: 'Merienda';
      .navbar-brand {
        font-size: 2em;
        font-weight: bold;
        color: white;
      } 
    }
    
    .navbar-right {
      margin-right: 20px;
    }

    #welcome-body {
      margin: 0 auto;
      width: 100%;
      color: white;
      text-align: center;
      
      #welcome-message {
        padding: 50px 0px 0px 0px;
        width: 100%;
        margin: 0 auto;
        h2 {
          font-family: 'Pacifico','Merienda';
          font-size: 3em;
        }
        #canDo {
          width: 100%;
          margin: 0 auto;
          #setWidth {
            background-color: white;
            margin: 0 auto;
            width: 250px;
          }
          .canDoEach {
            width: 230px;
            margin: 0 auto;
            font-family: 'Merienda';
          }
          .canDoIcon {
            margin: 0 auto;
            padding: 5px;
            width: 200px;
            height: 200px;
            border: 2px dotted $main-color;
            border-radius: 100%;
            margin: 0 auto;
            background-color: $secondary-color;
            font-size: 9em;
            i {
              margin: 0px;
            }
          }
          .canDoText {
            font-size: 1em;
          } 
        }
      } 
      
      .join-options {
        padding: 10px 0px 50px 0px;
        margin: 0px;
        #toStart {
          margin-top: 20px;
          font-size: 1.5em;
        }
      } 
    }

    .darkBtn {
      background-color: $secondary-color;
      border: 1px solid white;
      color: gold;
      font-weight: bold;
    } 

    .loginOrSignup {
      color: white;
      input {
        color: white;
      }
      #resetSuccess {
        background-color: green;
        border: 1px solid gold;
        border-radius: 5px;
        padding-top: 10px;
      }
      h3 {
        font-family: 'Pacifico';
      }
      label {
        color: white;
      }
      a {
        color: gold;
      }
    }
  }
  .sidebar {
    background-color: $header-color;
    color: white;
    .mini-submenu{
      display:none;  
      background-color: rgba(0, 0, 0, 0);  
      border: 1px solid rgba(0, 0, 0, 0.9);
      border-radius: 4px;
      padding: 9px;  
      /*position: relative;*/
      width: 42px;

    }

    .mini-submenu:hover{
      cursor: pointer;
    }

    .mini-submenu .icon-bar {
      background-color: white;
      border-radius: 1px;
      display: block;
      height: 2px;
      width: 22px;
      margin-top: 3px;
    }

     #slide-submenu{
      background: $secondary-color;
      display: inline-block;
      padding: 0 8px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
