$main-color: teal;
$secondary-color: #066;
$header-color: brown;

.myListItems {
  background-color: $secondary-color;
}

.nav-sidebar { 
    min-height: 100%;
    width: 100%;
    padding: 30px 0; 
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #ccc;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}
.nav-sidebar .active a { 
    cursor: default;
    background-color: $secondary-color !important; 
    color: white; 
}
.nav-sidebar {
  .others a:hover, .active a:hover {
    background-color: $header-color !important;
    color: white 
  }  
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

.chatList {
  font-size: 1.5em;
  margin: 0 auto;
  padding: 20px;
  margin-left: 20px;
  color: white;
}

.badge-default {
  background-color: green;
}

.badge-grey {
  background-color: grey;
}

.tab-content {
  margin-bottom: 50px;
  padding: 0;
}

.tab-pane {
  padding: 10px;
  margin: 0 auto;
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
  p {
    color: #ddd;
  }

  #group-messages {
    height: 250px;
    overflow-y: scroll;
    padding: 0px;
  }

#addUser {
  border: 1px solid white !important;
    input {
    color: white;
  }
}

  .myListItems {
    width: 100%;
    background-color: $secondary-color;
    margin: 5px;
  }

  small {
    color: #999
  }
}

input {
  color: $secondary-color;
}

form {
  a, a:hover {
    color: gold;
  }
  h4 {
    color: white;
  }
  .form-control {
    color: white !important;
  }
  background-color: $secondary-color;
  border-radius: 5px;
  border: 3px dotted $main-color;
  padding: 20px;
  
  .dropdown-toggle {
    color: white;
    background-color: $secondary-color;
    border: 1px solid white;
  }
}
 
.container .text-style {
  text-align: justify;
  line-height: 23px;
  margin: 0 13px 0 0;
  font-size: 19px;
}

.input-append .btn.dropdown-toggle {
    float: none;
}

family {
  padding-bottom: 50px;
}