<!DOCTYPE html> 
<html lang="en"> 
  <head>     
    <meta charset="UTF-8">     
    <title>Reset password | Postit</title>     
    <meta name="viewport" content="width=device-width, initial-scale=1">     
    <link rel="stylesheet" href="libs/css/bootstrap.min.css">     
    <link rel="stylesheet" href="libs/css/material.min.css">     
    <link rel="stylesheet" href="libs/css/ripples.min.css">     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/fonts/Material-Design-Icons.svg">     
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">      
    <link href="https://fonts.googleapis.com/css?family=Merienda|Julee|Quintessential|Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css"> 
  </head>
  
  <body>     
    <!-- main container div for body -->     
    <div class="container-fluid" id="main">       
      <!-- navbar -->       
      <div class="navbar navbar-default navbar-fixed-top" style="background-color : brown">         
        <div class="navbar-header">            
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">             
            <span class="icon-bar"></span>             <span class="icon-bar"></span>             
            <span class="icon-bar"></span>          
          </button>           
          <a class="navbar-brand" href="index.html">Postit</a>         
        </div>          
        <div class="navbar-collapse collapse navbar-warning-collapse">           
          <ul class="nav navbar-nav navbar-right">  
            <li><a href="#aboutPostit">About Postit</a></li>  
            <li><a target="_blank" href="https://github.com/oahray/bc-24-postit">View project on github</a></li>           
          </ul>         
        </div>       
      </div> <!-- closing tag for navbar -->       <!-- Container div for body content -->       
      
      <br> <br> <br>
      <div id="main">
        <div class="row loginOrSignup">
          <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
            <h3 align="center"> Enter your registration email to reset your password.</h3>
            <br><br><br>
            
            <form id="reset-form" method="post" action="" class="form-horizontal">
              <fieldset>
                <div class="form-group label-floating is-empty">
                  <label for="inputEmail" class="control-label"> Email: </label>
                  <input type="email" name="email" class="form-control" id="inputEmail">
                  <span class="help-block"> </span>  
                </div>      
        
                <div class="form-group text-center">      
                  <div class="col-md-12">      
                    <button type="button" id="reset-submit" class="btn btn-block btn-raised darkBtn"> Reset my password</button>    
                  </div> 
                  <p>Remember password? <a href="signin.html">Sign in</a></p>

                  <div id="reset-success" class="hidden">
                    <p>A message has been sent to your email with instructions on resetting your password.</p>
                  </div>
                </div>    
              </fieldset>    
            </form>     
          </div>
        </div>    
      </div>
              
        
        
      <footer class="navbar-fixed-bottom text-center">
          <p> Just Postit!  . . . <i class="fa fa-paper-plane"></i></p>  
      </footer>     
    </div> <!--closing tag for main container div-->   
    
    <script src="libs/js/jquery.min.js"></script>     
    <script src="libs/js/bootstrap.min.js"></script>     
    <script src="libs/js/material.min.js"></script>
    <script src="libs/js/ripples.js"></script>         
    <script src="js/main.js"></script>
  </body>
</html>  