<!DOCTYPE html> 
<html lang="en"> 
  <head>     
    <meta charset="UTF-8">     
    <title>My Board | Postit</title>     
    <meta name="viewport" content="width=device-width, initial-scale=1">     
    <link rel="stylesheet" <link rel="stylesheet" href="libs/css/bootstrap.min.css">     
    <link rel="stylesheet" href="libs/css/material.min.css">        
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">     
    <link href="https://fonts.googleapis.com/css?family=Merienda|Julee|Quintessential|Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/message.css">
  </head>
  
  <body>     <!-- main container div for body -->     
    <div class="container-fluid" id="main">       <!-- navbar -->       
      <div class="navbar navbar-default navbar-fixed-top" style="background-color : brown">         
        <div class="navbar-header"> <!-- navbar header-->           
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">             
            <span class="icon-bar"></span>             <span class="icon-bar"></span>             
            <span class="icon-bar"></span>          
          </button>           
          <a class="navbar-brand" href="index.html"><i class="fa fa-paper-plane" aria-hidden="true"></i> Postit</a>         
        </div> <!-- close navbar header -->         
        <div class="navbar-collapse collapse navbar-warning-collapse">           
          <ul class="nav navbar-nav navbar-right">  
            <li><a href="userboard.html">My User Board</a></li>
            <li><a href="index.html">Logout</a></li>  
            <li><a target="_blank" href="https://github.com/oahray/bc-24-postit">View project on github</a></li>           
          </ul>         
        </div>       
      </div> <!-- closing tag for navbar -->       <!-- Container div for body content -->       
      
      <br> <br> <br>
      <div id="main">
        <div class="row">
          <div class="col-sm-3">
            <nav class="nav-sidebar nav-fixed-left">
              <div class="col-xs-10 col-xs-offset-1">
                <label for="addUserForm">Add user to group</label>
                <div id="addUser" class="input-group">
                  <input type="text" id="addUserform" class="form-control" placeholder="Username or Email">
                  <span class="input-group-btn">
                    <button class="btn btn-raised" type="button">Add</button>
                  </span>
                </div>
              </div>

              <br> <br>

              <div class="chatList">
                <h3> Users List (5)</h3>
                <div class="usersList">
                  <ul class="list-unstyled">
                    <li><i class="fa fa-user" aria-hidden="true"></i> Me</li>
                    <li><i class="fa fa-user" aria-hidden="true"></i> Dad</li>      
                    <li><i class="fa fa-user" aria-hidden="true"></i> Mum</li>      
                    <li><i class="fa fa-user" aria-hidden="true"></i> Brother</li>  
                    <li><i class="fa fa-user" aria-hidden="true"></i> Sister</li>    
                  </ul>
                </div>
              </div>             
            </nav>
          </div>

          <!-- tab content -->
          <div class="tab-content col-sm-9"> 
            <div class="tab-pane active others chat-window text-style" id="family">
              <div class="tab-pane-header text-center">
                <h2 class:"text-center">Family</h2>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                  <div id="group-messages" class="row list-group">
                    <div class="each-message col-xs-12 list-group-item">
                      <h5>Me <span class="pull-right"><small> 2 hours ago </small> </span>
                      </h5>
                      <p class="userMessage">Hello</p>
                    </div> 

                    <div class="each-message col-xs-12 list-group-item">
                      <h5>Me <span class="pull-right"><small> 2 hours ago </small> </span>
                      </h5>
                      <p class="userMessage">I might be returning somewhat late today</p>
                    </div> 

                    <div class="each-message col-xs-12 list-group-item">
                      <h5>Mum <span class="pull-right"><small> 1 hour ago </small> </span>
                      </h5>
                      <p class="userMessage">Why?</p>
                    </div> 

                    <div class="each-message col-xs-12 list-group-item">
                      <h5>Mum <span class="pull-right"><small> 12 mins ago </small> </span>
                      </h5>
                      <p class="userMessage">Oare why?</p>
                    </div> 

                    <div class="each-message col-xs-12 list-group-item">
                      <h5>Me <span class="pull-right"><small> Just now </small> </span>
                      </h5>
                      <p class="userMessage"> Uhmm... Bootcamp ish</p>
                    </div> 
                  </div>

                  <br>

                  <div id="post-message" class="row">
                    <div class="form-group col-xs-7">
                      <label for="newMessageText">Message:</label>
                      <textarea class="form-control" rows="2" id="newMessageText"></textarea>
                    </div>

                    <div class="form-group col-xs-3">
                      <label for="sel1">Priority Level:</label>
                      <select class="form-control" id="howCritical">
                        <option value="1">Normal</option>
                        <option value="2">Urgent</option>
                        <option value="3">Critical</option>
                      </select>
                    </div>

                    <div class="form-group col-xs-2">
                      <button class="btn btn-raised darkBtn">Post it!</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
              
      
      <footer class="navbar-fixed-bottom text-center">
        <em>           
          <p> Just Postit!  . . . <i class="fa fa-paper-plane"></i></p>         
        </em>       
      </footer>     
    </div> <!--closing tag for main container div-->   
    
    <script src="libs/js/jquery.min.js"></script>     
    <script src="libs/js/bootstrap.min.js"></script>     
    <script src="libs/js/material.min.js"></script>  
    <script src="js/main.js"></script>
  </body>
</html> 