$main-color: #26a69a;

body {
  width: 100%;
  font-size: 13px;
}

.modal {
  min-height: 80vh;
}

.main-body {
  margin: 0px;
  width: 100%;
  padding: 0;
}

.preloader {
  margin-top: 50px;
}

.forms {
  margin: 0 auto;
  .row {
    padding: 0px 50px;
    .input-field {
      margin: 0 auto;
      padding: 10px;
      input {
        margin: 0 auto;
      }
    }
  }
}

ul.side-nav.fixed:hover {
    overflow-y: auto;
}

.side-nav.fixed {
  overflow: hidden;
  // li a :hover {
  //   background-color: #7bb !important;
  //   color: white;
  // }
  // li a :active {
  //   background-color: $main-color !important;
  // }
  .user-view {
    background-color: $main-color;
    padding: 15px 0px 0px 0px;
    margin: 0px;
    i {
      // border-radius: 100%;
      border: 1px solid white;
      margin: 0px !important;
      font-size: 90px;
    }
    a, a:hover {
      margin-top: 0px !important;
      height: 40px !important;
      padding-top: 0px !important;
      background-color: $main-color;
    }
    .name {
      margin: 0px;
      font-size: 24px;
    }
  }
  a {
  padding-left: 10px !important;
}
  .sidebar-grouplist {
    padding: 0px 10px;
  }
  .search-wrapper {
    padding: 0px 0px 0px 15px;
    margin: 0px;
    height: 50px;
    a {
      padding: 0px;
      width: 40px;
      i {
      font-size: 32px;
      margin: 0px;
      padding: 0px;
      }
    }
    .search-input {
      height: 50px;
      padding: 0px;
      input {
      padding: 0px;
      margin: 0px;
      }
      input, input:focus {
        border-bottom: none!important;
        box-shadow: none!important;
      }
    }
  }
}

.user-home-content {
  padding: 0px 20px;
  a {
    color: $main-color;
  }
}

.group-page {
  padding: 0px 5px;
  .tab-content {
    padding: 0px 30px;
  }
}

.page-header {
  color: teal;
  text-align: center;
}

.message-item {
  padding: 0px 20px !important;
  margin-bottom: 1px !important;
  background-color: #eee;
}

@media only screen and (min-width: 993px) {
  .main-container {
      padding-left: 300px;
  }
}

#guest-carousel {
  padding: 0 auto;
  height: 270px !important;
  
  .carousel-item {
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    background-color: #f8f8f8 !important;
    padding: 5px 0px;
    margin: 0 auto;
    width: 270px !important;
    max-height: 270px;
    h2 {
      margin : 0 auto;
    }
    i {
      margin: 1px auto;
      font-size: 120px;
    }
    p {
      margin: 0px 5px 0px 5px;
      padding-bottom: 10px;
      font-size: 1.15em;
      font-style: italic;
    }
  }
}