$main-color: #26a69a;

body {
  width: 100%;
  font-size: 13px;
}

.modal {
  min-height: 80vh;
}

.main-body {
  margin: 0px;
  width: 100%;
  padding: 0;
}

.forms {
  margin: 0 auto;
  .row {
    padding: 50px;
    .input-field {
      margin: 0 auto;
      padding: 10px;
      input {
        margin: 0 auto;
      }
    }
  }
}

.side-nav {
  .my-list-item :hover {
    background-color: #7bb !important;
    color: white;
  }
  .my-list-item :active {
    background-color: $main-color !important;
  }
  .user-view {
    background-color: $main-color;
    padding-top: 10px;
    .name {
      font-size: 24px;
      margin-bottom: 5px;
    }
  }
  .sidebar-grouplist li {
    padding: 0px 10px;
  }
  .search-wrapper {
    padding: 10px;
    margin: 0px;
    height: 60px;
    label {
      font-size: 12px;
    }
    .search-input {
      height: 50px;
      padding: 0px;
      input {
      height: 40px;
      padding: 0px;
      margin: 0px;
      }
    }
  }
}

.user-home-content {
  padding: 0px 20px;
}

.group-page {
  padding: 0px 30px;
}

.page-header {
  color: teal;
  text-align: center;
}

.message-item {
  padding: 0px 20px !important;
  margin-bottom: 1px !important;
  background-color: #eee;
}

@media only screen and (min-width: 993px) {
  .main-container {
      padding-left: 300px;
  }
}

#guest-carousel {
  padding: 0 auto;
  height: 270px !important;
  
  .carousel-item {
    display: block;
    position: relative;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    background-color: #f8f8f8 !important;
    padding: 5px 0px;
    margin: 0 auto;
    width: 270px !important;
    max-height: 270px;
    h2 {
      margin : 0 auto;
    }
    i {
      margin: 1px auto;
      font-size: 120px;
    }
    p {
      margin: 0px 5px 0px 5px;
      padding-bottom: 10px;
      font-size: 1.15em;
      font-style: italic;
    }
  }
}